{% if queryset.has_other_pages %} <!--  wrap the whole pagination div.
    if there's only 1 page, don't output pagination -->
<div class="pagination">

    {% if queryset.has_previous %} <!-- has_previous() method-->
    <li style=><a style="background-color:rgb(130, 213, 255)" href="?page={{queryset.previous_page_number}}"
            class="btn page-link" data-page="{{queryset.previous_page_number}}">&#10094;&nbsp;Prev</a></li>
    <!-- left arrow symbol: &#10094 -->
    {% endif %}


    {% for page in custom_range %}

    {% if page == queryset.number %} <!-- style the current page button -->
    <li><a style="background-color:rgb(130, 213, 255)" href="?page={{page}}" class="btn page-link btn--sub"
            data-page="{{page}}">{{page}}</a></li>
    {% else %}
    <li><a style="background-color:rgb(130, 213, 255)" href="?page={{page}}" class="btn page-link"
            data-page="{{page}}">{{page}}</a>
    </li>
    <!-- theme might affect appearance of buttons -->
    {% endif %}
    {% endfor %}

    {% if queryset.has_next %} <!-- has_previous() method-->
    <li><a style="background-color:rgb(130, 213, 255)" href="?page={{queryset.next_page_number}}" class="btn page-link"
            data-page="{{queryset.next_page_number}}">Next &#10095;&nbsp;</a></li>
    <!-- right arrow symbol: &#10095 -->
    {% endif %}
</div>
{% endif %}