<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Jep jep</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script type="module" src="https://md-block.verou.me/md-block.js"></script>

</head>

<body class="body">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a style="padding-left: 5px; padding-right: 5px;" class="nav-link"
            href="{% url 'kotisivu:kotisivu' %}">Home</a>
          <a class="nav-link" href="">-</a>
          <a style="padding-left: 5px; padding-right: 5px;" class="nav-link"
            href="{% url 'projects:list-projects' %}">Projects</a>
          <a class="nav-link" href="">-</a>
        </div>
        <!-- <a class="nav-link" href="{% url 'tktutkija:kysely1' %}">Tutkija</a> -->
        <!-- <a class="nav-link" href="{% url 'testaus:testing' %}">Testing</a> -->
        <div class="dropdown">
          <button class="dropbtn">Search</button>
          <i class="fa fa-caret-down"></i>
          <div class="dropdown-content">
            <!-- <a href="{% url 'languages:list-languages' %}">Languages</a> -->
            <!-- <a href="{% url 'frameworks:framework-list' %}">Frameworks</a> -->
          </div>
        </div>
      </div>
    </div>
  </nav>

  <br>
  <h2>Welcome to site_notes.html!</h2>
  <hr>
  <h3 style="padding-bottom: 10px;">Here's some info about what's been going on in the site's development:
  </h3>
  <p style="font-size: 20px;"> Added a 'Go Back' link to ease navigation.</p>
  <p style="font-size: 20px;"> User can create projects, project pages and articles to those pages now.</p>
  <p style="font-size: 20px;"> Can now create projects etc with the help of forms.</p>
  <p style="font-size: 20px;"> Added some initial values to most forms.</p>
  <p style="font-size: 20px;"> Searching capability in development.</p>
  <hr>
  <h3 style="padding-bottom: 10px;">Development goals and ideas:</h3>
  <strong style="font-size: 20px;">Working on currently: </strong><span style="font-size: 20px;">&nbsp;Implement
    searching.</span><br><br>
  <p style="font-size: 20px;"> Delete and update forms, still need to do that in the admin panel.</p>
  <p style="font-size: 20px;"> Projects app: ProjectArticleTag form, update and delete forms.</p>
  <p style="font-size: 20px;"> Ability to add/edit/remove comments or such to a page might be useful. Need to think
    about
    it.</p>
  <p style="font-size: 20px;"> Create a login page. Most pages require the user to be logged in. (creating a superuser
    and profile works)</p>
  <p style="font-size: 20px;"> Try making a signal that automatically creates a profile when creating a new user.</p>
  <p style="font-size: 20px;"> Improvement of this page, at the moment it's hardcoded. Is not a priority but might be
    nice.</p>
  {% block content %}
  {% endblock content %}

  <br>
  <!-- <p style="font-size: 20px;">FOOTER</p> -->
</body>
<script src="{% static 'js/main.js' %}"></script>

</html>