{% extends "main.html" %} {% block content %}

{% if page == 'list-page-articles' %}

<div class="project-top-div">
    <a class="project-top-link" style="font-size: x-large"
        href="{% url 'projects:list-page-articles' page_title.id %}">Go
        Back</a>
</div>
<hr class="project-top-hr" />

<br>

<p style="font-size: 2em;">Are you sure you want to delete the article
    titled" <strong>{{article_to_delete.title}}</strong>"?</p>
<form method="post">
    {% csrf_token %}
    <button style="font-size: 1.5em; padding: 10px 20px;" type="submit">Yes, delete</button>
</form>

{% elif page == 'list-page-titles' %}

<div class="project-top-div">
    <a class="project-top-link" style="font-size: x-large"
        href="{% url 'projects:list-page-titles' project_page.id %}">Go
        Back</a>
</div>
<hr class="project-top-hr" />


<br>

<p style="font-size: 2em;">Are you sure you want to delete the title" <strong>{{page_title_to_delete.title}}</strong>"?
</p>
<form method="post">
    {% csrf_token %}
    <button style="font-size: 1.5em; padding: 10px 20px;" type="submit">Yes, delete</button>
</form>

{% else %}

<p style="font-size: 2em;">Page not found!</p>

{% endif %}

{% endblock content %}