{% extends 'main.html' %}
{% block content %}


<!-- Main Section -->
<main>
    <section>
        <div>
            <div>
                <h2>Search for <span>Stuff</span></h2>
            </div>

            <div>
                <form id="searchForm" class="form" action="" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search By Projects </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                            placeholder="Search by Project Title" value="{{search_query}}" />
                    </div>

                    <!-- <input class="btn btn--sub btn--lg" type="submit" value="Search" /> -->
                </form>
                <br>
            </div>
        </div>
    </section>
    <!-- Search Result: DevList -->
    {% for project in projects %}
    <p>{{project.title}}</p>
    {% endfor %}

    <!-- Use properties / 'props' (or something). They are like key-value pairs.
         Point is to reuse pagination code easily, and make it's use more dynamic across the website -->
    {% include "pagination.html" with queryset=projects custom_range=custom_range %}

</main>


{% endblock content %}