{% extends "main.html" %}

{% block content %}

<a href="{% url 'projects:list-projects' %}">Go Back</a>
<div>
    <a href="{% url 'projects:create-project-page' object.id %}">Add new page -&nbsp;</a><a
        href="{% url 'projects:create-project-page-tag' object.id %}">New Page Tag</a>
</div>
<hr>

{% for page in project_pages %}
<table>
    <tr>
        <th></th>
        <td>
            <a href="{% url 'projects:list-page-titles' page.id %}?next={{request.path}}">{{page.title}}
                ({{page.page_number}})</a>
        </td>
    </tr>
</table>
{% endfor %}

<br>

{% endblock content %}