{% extends 'main.html' %}
{% block content %}

<main>
    <div >
        <div >
            <a class="backButton" href="{% url 'projects:view-single-project' object.id %}">Go Back</a>


            <form class="form" action=""  method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <table>
                    <tr>
                        <th>
                            <td>
                                <label for="formInput#text">{{field.label}}</label>
                            </td>
                        </th>
                    </tr>
                    <tr><th><td>
                        {{field}}
                    </td></th></tr>
                </table>
                {% endfor %}

                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% endblock content %}