{% extends 'main.html' %}
{% block content %}

<main>
    <div>
        <div>
            <div class="project-top-div">
                <a class="project-top-link" style="font-size: x-large"
                    href="{% url 'projects:list-page-titles' object.id %}">Go
                    Back</a>
            </div>
            <hr class="project-top-hr" />

            <form class="form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                <table>
                    <tr>
                        <th>
                        <td>
                            <label for="formInput#text">{{field.label}}</label>
                        </td>
                        </th>
                    </tr>
                    <tr>
                        <th>
                        <td>
                            {{field}}
                        </td>
                        </th>
                    </tr>
                </table>
                {% endfor %}

                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% endblock content %}