{% extends 'main.html' %}
{% block content %}


<!-- Main Section -->
<main>
    <section>
        <div>
            <div>
                <p style="font-size: 30px; padding-top: 10px;">Search for page titles:</p>
            </div>
            <div>
                <form id="searchForm" class="form" action="" method="get">
                    <div class="form__field">
                        <input style="width: 300px;" class="input input--text" id="formInput#search" type="text"
                            name="search_query" placeholder="Search..." value="{{search_query}}" />
                    </div>
                    <hr>
                </form>
            </div>
        </div>
    </section>
    <!-- Search Results: -->
    {% for title in titles %}
    <a href="{% url 'projects:list-page-articles' title.id %}">
        <p style="font-size: 30px;">{{title.title}}</p>
    </a>
    {% endfor %}

    <br>

    {% include "pagination.html" with queryset=articles custom_range=custom_range %}

</main>


{% endblock content %}