{% extends "main.html" %}

{% block content %}

<a href="{% url 'projects:view-single-project' object2.id %}">Go Back</a>
<div>
    <a href="{% url 'projects:create-article' object.id %}?next={{request.path}}">Create new article</a>
</div>
<hr>

{% for article in articles %}
<table>
    <tr>
        <th></th>
        <td>
            {% if article.title %}
            <h5>{{article.title}}</h5>
        </td>
    </tr>
    <tr>
        <th>
        <td>
            {{article.body|linebreaksbr}}
        </td>
        </th>
    </tr>
    {% else %}
    <tr>
        <th>
        <td>
            {{article.body|linebreaksbr}}
        </td>
        </th>
    </tr>
    {% endif %}
</table>

{% endfor %}

{% endblock content %}