{% extends "main.html" %}
{% load static %}


{% block content %}

<div class="container">
    <div class="grid grid--three">
        <div class="column">
            <div>
                <a href="">
                    <div class="card__body">
                        <h3>ASSKFJASKFJASKLFJASKLDFJASKLDFJKLASJDF</h3>
                    </div>
                    <img src="{% static 'media/users/default_PAy84k2.jpg' %}" class="card-img-top" alt=""
                        style="width: 100%; height: 12em; object-fit: cover;">
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}