{% extends "main.html" %}
{% load static %}
{% block content %}


{% if page == 'register' %}

<div class="auth-container">
    <div class="auth-box" style="padding-top: 10px;">
        <form action="{% url 'users:register' %}" method="POST" class="form auth-form">
            {% csrf_token %}

            {% for field in form %}
            <div class="auth-field">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <br>
                {{ field }}

                {% for error in field.errors %}
                <p class="auth-error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}

            <br>
            <div class="auth-actions">
                <input class="btn btn-primary btn-large" type="submit" value="Create Account" />
            </div>
            <br>
            <br>
        </form>

        <div class="auth-alternative">
            <p>Already have an Account?</p>
            <br>
            <a href="{% url 'users:login' %}" class="btn-secondary btn-large">Log In</a>
        </div>
    </div>
</div>




{% else %}


<div class="auth-container">
    <div class="auth-box">
        <h3 class="auth-title">Account Login</h3>
        <p class="auth-subtitle" style="font-size: 25px;">Hello, Welcome Back!</p>
        <form action="" method="POST" class="auth-form">
            {% csrf_token %}
            <div class="auth-field">
                <label for="username">Username</label>
                <input class="auth-input" id="username" type="text" name="username"
                    placeholder="Enter your username..." />
            </div>
            <div class="auth-field">
                <label for="password">Password</label>
                <input class="auth-input" id="password" type="password" name="password" placeholder="••••••••" />
            </div>
            <div class="auth-actions">
                <button class="btn btn-primary btn-large">Log In</button>
            </div>
            <br>
            <a href="{% url 'reset_password' %}" class="auth-link">Forgot Password?</a>
            <br>
        </form>
        <div class="auth-footer">
            <p>Don't have an account? <a href="{% url 'users:register' %}" class="auth-footer-link">Sign Up</a></p>
        </div>
    </div>
</div>




{% endif %}

<script src="{% static 'js/login_helper.js' %}"></script>

{% endblock content %}