{% extends "main.html" %}

{% block content %}

<!-- Main Section -->
<main class>
    <button onclick="history.back()">Go Back</button>
    <div class="container">
        <div class="layout">
            <div class="settings">
                <h3 class="settings__title">Favorite articles</h3>
                <hr>
            </div>
            <table class="settings__table">
                {% for article in articles %}
                <tr>
                    <td class="settings__tableInfo">
                        <p>{{article.created}}</p>
                        <a href="{% url 'projects:view-article-title' article.id %}">{{article.title}}</a>
                        <pre>{{article.body|slice:"3000"}}</pre>
                        <hr>
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    </div>
</main>

{% endblock content %}