{% extends "main.html" %}

{% load static %}

{% block content %}

<button onclick="history.back()">Go Back</button>
<div>
    <a style="font-size:x-large;" href="{% url 'testaus:create-malli-1' %}">Create new malli-1&nbsp;</a>
</div>
<div>
    <a style="font-size:x-large;" href="{% url 'testaus:new-muistipeli' %}">New Muistipeli&nbsp;</a>
</div>

<hr>


<style>
    .table-container {
        display: flex;
        justify-content: space-between;
    }

    .table {
        width: 30%;
    }
</style>

<div class="table-container">
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Inactive</th>
                </tr>
            </thead>
            <tbody>
                {% for kikkare in kikkare %}
                <tr>
                    <td><a href="{% url 'testaus:move-question-to-active' kikkare.id %}">{{ kikkare.question }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                {% for kikkare2 in kikkare2 %}
                <tr>
                    <td><a href="{% url 'testaus:move-question-to-inactive' kikkare2.id %}">{{ kikkare2.question }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Learned</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}