{% extends "main.html" %}

{% block content %}

<button onclick="history.back()">Go Back</button>
<div>
    <a style="font-size:x-large;" href="{% url 'testaus:create-malli-1' %}">Create new malli-1&nbsp;</a>
</div>
<div>
    <a style="font-size:x-large;" href="{% url 'testaus:new-muistipeli' %}">New Muistipeli&nbsp;</a>
</div>
<div>
    <a style="font-size:x-large;" href="{% url 'testaus:move-game' %}">Move Game&nbsp;</a>
</div>
<hr>


{% for kikkare in kikkare %}
<p>{{ kikkare.question }}</p>
{% endfor %}


{% for kikkare2 in kikkare2 %}
<div>
    <p class="margin-left-50">{{ kikkare2.question }}</p>
</div>
{% endfor %}

<br>

{% endblock content %}