{% extends "main.html" %}

{% block content %}

<!-- Example template using Handlebars.js syntax -->
<script id="template" type="text/x-handlebars-template">
    <div class="card" id="card">
      {{#each data}}
        <p class="cardText">{{this}}</p>
      {{/each}}
    </div>
  </script>

<!-- HTML container where the template will be rendered -->
<div id="container"></div>

<script src="handlebars.js"></script>
<script>
    // JavaScript code
    var context = {
        data: ['Text 1', 'Text 2', 'Text 3']
    };

    var source = document.getElementById('template').innerHTML;
    var template = Handlebars.compile(source);
    var html = template(context);

    document.getElementById('container').innerHTML = html;

    var cardTextElements = document.getElementsByClassName('cardText');
    var iterator = textIterator(context.data);

    for (var i = 0; i < cardTextElements.length; i++) {
        cardTextElements[i].addEventListener('click', function () {
            var nextValue = iterator.next().value;
            if (nextValue) {
                this.textContent = nextValue;
            } else {
                this.textContent = 'No more text';
                this.removeEventListener('click', arguments.callee);
            }
        });
    }

    function* textIterator(data) {
        for (let i = 0; i < data.length; i++) {
            yield data[i];
        }
    }
</script>


{% endblock content %}